# Binaries
oci-arm-provisioner
*.exe
*.dll
*.so
*.dylib

# Logs
logs/
*.log

# Config (Sensitive)
config.yaml
.env

# Keys (Sensitive)
*.pem
*.key
.oci/

# Go
go.work
/vendor/
/bin/

# IDEs
.vscode/
.idea/
*.swp
PUBLIC_KEYS_TO_UPLOAD.txt
